@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
.card { @apply rounded-2xl border p-4; }
.pill { @apply inline-block rounded-full border px-3 py-1 text-sm leading-tight mr-2 mb-2; }
.h2 { @apply text-xl font-semibold tracking-tight mb-3; }
